{% import "bootstrap/wtf.html" as wtf %}
<div class="container col-md-6 col-md-offset-2">

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="alert alert-danger">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <form method="POST" action="/change_password">
        {{ form.csrf_token }}

        {{ wtf.form_field(form.password) }}
        {{ wtf.form_field(form.retype_password) }}

        <button type="submit" class="btn btn-default">Change Password</button>
    </form>
</div>